@import url("./hljs.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3%;
    --foreground: 0 0% 96%;
    --card: 210 25% 95%;
    --card-foreground: 210 15% 10%;
    --popover: 210 25% 95%;
    --popover-foreground: 210 15% 10%;
    --primary: 190 100% 50%; 
    --primary-foreground: 0 0% 3%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 8%;
    --muted: 0 0% 13%;
    --muted-foreground: 0 0% 73%;
    --accent: 270 100% 54%;
    --accent-foreground: 0 0% 96%;
    --destructive: 0 60% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 100% / 0.08;
    --input: 210 15% 80%;
    --ring: 190 100% 50%;
    --radius: 0.4rem;
    color-scheme: dark;
  }

  .dark {
    --background: 210 15% 10%;
    --foreground: 0 0% 95%;
    --card: 210 15% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 210 15% 10%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 0% 95%;
    --primary-foreground: 210 10% 20%;
    --secondary: 210 12% 25%;
    --secondary-foreground: 0 0% 95%;
    --muted: 210 12% 25%;
    --muted-foreground: 210 18% 65%;
    --accent: 210 12% 25%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 55% 40%;
    --destructive-foreground: 0 85% 98%;
    --border: 210 12% 25%;
    --input: 210 12% 25%;
    --ring: 210 15% 75%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(calc(-480px * 4));
  }
  100% {
    transform: translateX(calc(-480px * 8));
  }
}

.dark {
  color-scheme: dark;
}

body.no-scroll {
  @apply fixed w-full h-full overflow-hidden;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.docs-container {
  min-height: calc(100vh - 4rem);
}

.docs-container aside,
.blog-container aside {
  max-height: calc(100vh - 10rem);
}

.mobile-docs-navigation aside {
  max-height: calc(100vh - 3rem);
}

.toc details summary::-webkit-details-marker {
  display: none;
}

.prose {
  max-width: calc(100vw - 2rem);
}

.prose code,
.toc code {
  @apply inline-block bg-zinc-100 dark:bg-white/10 border border-zinc-200 dark:border-white/10 px-1 rounded-sm font-normal leading-snug;
}
.prose code {
  @apply text-zinc-800 dark:text-zinc-300;
}
.prose h1 code,
.prose h2 code,
.prose h3 code,
.prose h4 code,
.prose h5 code {
  @apply text-black dark:text-white;
}
.prose code::before {
  display: none;
}
.prose code::after {
  display: none;
}
.prose li code {
  @apply !m-0;
}

.prose .code-container {
  @apply p-0;
}
.prose .code-container .line,
.prose pre span[data-line] {
  @apply px-4 text-[#C9D1DA];
}
.shiki code {
  @apply py-4 px-0 min-w-full bg-transparent !important;
}

/* breakpoint sm */
@media (min-width: 640px) {
  .sm\:animate-scroll {
    animation: scroll 50s linear infinite;
  }
  .docs-container {
    min-height: calc(100vh - 6rem);
  }
  .docs-container aside {
    max-height: calc(100vh - 10rem);
  }
  .docs-container .prose,
  .docs-container .pagination {
    max-width: calc(100vw - 4rem);
  }
}

/* breakpoint md */
@media (min-width: 768px) {
  .docs-container .prose,
  .docs-container .pagination {
    max-width: calc(100vw - 21rem);
  }
}

/* breakpoint lg */
@media (min-width: 1024px) {
  .docs-container .prose,
  .docs-container .pagination {
    max-width: calc(100vw - 25rem);
  }
}

/* breakpoint xl */
@media (min-width: 1280px) {
  .docs-container .prose,
  .docs-container .pagination {
    @apply max-w-2xl;
  }
}

/* breakpoint 2xl */
@media (min-width: 1536px) {
  .docs-container .prose,
  .docs-container .pagination {
    @apply max-w-3xl;
  }
}

/* Algolia instant search */
.ais-SearchBox {
  @apply w-full;
}
.ais-SearchBox-form {
  @apply w-full flex;
}
.ais-SearchBox-input {
  @apply grow focus:outline-none bg-transparent px-2 placeholder-zinc-400 dark:placeholder-zinc-500 text-black dark:text-white;
}
.ais-SearchBox-submit,
.ais-SearchBox-reset {
  @apply hidden;
}
.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  @apply bg-transparent font-semibold text-black dark:text-white underline;
}

.button-hover:hover {
  text-decoration: underline;
}

.tab-hover-underline[data-state="inactive"]:hover {
  text-decoration: underline;
}

.tab-hover[data-state="inactive"]:hover {
  opacity: 0.9;
}

.generic-hover:hover {
  opacity: 0.9;
}

.prose a:not(.active):hover {
  opacity: 0.9;
}

.tweet img {
  margin-top: 0;
  margin-bottom: 0;
}

.shiki {
  max-width: 100%;
}

.shiki.github-light {
  display: block;
}

.shiki.github-dark {
  display: none;
}

pre.shiki div.highlight {
  opacity: 1;
  background-color: #cacad4;
}

.dark .shiki.github-light {
  display: none;
}

.dark .shiki.github-dark {
  display: block;
}

.dark pre.shiki div.highlight {
  opacity: 1;
  background-color: #27272a;
}

pre.shiki {
  /* In theory shiki will overwrite these, but this is to make sure there are defaults regardless */
  background-color: white;
  color: black;

  /* Give it some space to breathe */
  padding: 12px;

  /* All code samples get a grey border, twoslash ones get a different color */
  /* border-left: 1px solid #999; */
  /* border-bottom: 1px solid #999; */

  /* margin-bottom: 3rem; */

  /* Important to allow the code to move horizontally; */
  overflow-x: auto;
  position: relative;

  &:hover {
    contain: none;
    @apply overflow-visible;
  }
}
pre.shiki {
  overflow-x: auto;
  counter-reset: line-number;
}
pre.shiki:hover .dim {
  opacity: 1;
}
pre.shiki div.dim {
  opacity: 0.5;
}
pre.shiki div.dim,
pre.shiki span.highlighted {
  margin: 0;
  padding: 0;
}
pre.shiki span.highlighted {
  opacity: 1;
  background-color: #27272a;
  display: inline-block;
  width: 100%;
}
pre.shiki span.line {
  min-height: 1rem;
  counter-increment: line-number;
}

pre.shiki .line::before {
  content: counter(line-number);
  color: hsl(240 5.3% 26.1%);
  display: inline-block;
  margin-right: 0.5em;
  margin-left: 0.5em;
  width: 2em;
}

pre.shiki code {
  border: 0;
  background: none;
}

/** Don't show the language identifiers */
pre.shiki .language-id {
  display: none;
}


.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.video-responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
